aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
charset-normalizer
click
colorama
dataclasses-json
distro
faiss-cpu
fastapi
filelock
frozenlist
fsspec
greenlet
groq
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
Jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-experimental
langsmith
lxml
MarkupSafe
marshmallow
mpmath
multidict
mypy_extensions
networkx
numpy
openai
orjson
packaging
pillow
propcache
pydantic
pydantic-settings
pydantic_core
PyMuPDF
pytesseract
python-docx
docx2txt
pandas
openpyxl
python-pptx
python-dotenv
PyYAML
regex
requests
requests-toolbelt
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
sniffio
SQLAlchemy
starlette
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
urllib3
uvicorn
yarl
zstandard
pymongo
pypdf